<div class="col-sm-5">
    <div class="card-block">
        <div class="card-header">
            <p>Accept or edit ingrs </p>
        </div>
        <div class="card-danger">
        <em>UNDER CONSTRUCTION</em><br>
            asd
        </div>
        <div class="card-footer">
            <label class="font-weight-bold" for="curate_butt">Bulk operations with ingrs</label>
            <input class="btn btn-primary" id="curate_butt" value="Accept ingrs" type="button" onclick="accept_ingrs()">
        </div>
    </div>
</div>
<script type="application/javascript">
    function accept_ingrs() {

    }
</script>