{{extend "layout.html"}}


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <form name="new_rest" id="new_rest">
                        <div class="form-group">
                            <label class="font-weight-bold">Имя ресторана</label>
                            <p class="text-muted"><em>Например: Чайхона №1</em></p>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Адрес ресторана</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i
                                        class="fas fa-map-marker-alt"></i></span>
                            <p class="text-muted"><em>Например: Москва, ул. </em></p>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-utensils"></i> Текущее активное меню
                </div>

            </div>

        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-utensil-spoon"></i> Новое меню
                </div>
                <div class="card-block">
                    <form name="new_menu" id="new_menu">
                        <div class="form-group">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
