{{extend "layout.html"}}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="container">
    <h1>Новый предмет в меню</h1>
    <div class="row">
        <div class="col-sm-4">

            <div class="card">
                <div class="card-header">
                    Основное
                </div>
                <div class="card-block">
                    <div class="form-group">
                        <label class="font-weight-bold">Наименование</label>
                        <input type="text" id="item_name" class="form-control">
                        <em class="text-muted">Например хуйцы с гречей</em>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fas fa-ruble-sign" style="width: 20px;height: 16px"></i> </span>
                        <input type="number" id="item_price" class="form-control" placeholder="Цена">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fas fa-balance-scale"></i> </span>
                        <input type="number" id="item_weight" class="form-control" placeholder="Вес / Объем">
                        <span class="input-group-addon">кг</span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Описание</label>
                        <textarea type="text" id="item_desc" class="form-control"></textarea>
                        <em class="text-muted">Средневековое блюдо из молодых бычков, приготовленное...</em>
                    </div>
                    <div class="form-group">
                        <label for="ing_id" class="control-label">Ингридиенты</label>
                        <input type="text" id="ing_id" class="form-control bs-autocomplete" data-item_id="id" data-item_label="ingName" autocomplete="off">
                        <em class="text-muted">Греча, хуйцы. Через зпт</em>
                    </div>
                </div>
<div class="card-footer">
    <input class="btn btn-primary" type="button" value="Добавить!">
</div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        function split(val) {
            return val.split(/,\s*/);
        }

        function extractLast(term) {
            return split(term).pop();
        }

    $.widget("ui.autocomplete", $.ui.autocomplete, {

  _renderMenu: function(ul, items) {
    var that = this;
    ul.attr("class", "nav nav-pills nav-stacked  bs-autocomplete-menu");
    $.each(items, function(index, item) {
      that._renderItemData(ul, item);
    });
  },

  _resizeMenu: function() {
    var ul = this.menu.element;
    ul.outerWidth(Math.min(
      // Firefox wraps long text (possibly a rounding bug)
      // so we add 1px to avoid the wrapping (#7513)
      ul.width("").outerWidth() + 1,
      this.element.outerWidth()
    ));
  }

});

        $('.bs-autocomplete').each(function () {
            var _this = $(this),
                    _data = _this.data(),
                    _hidden_field = $('#' + _data.hidden_field_id);

            _this.after('<div class="bs-autocomplete-feedback form-control-feedback"><div class="loader">Загрузка...</div></div>')
                    .parent('.form-group').addClass('has-feedback');

            var feedback_icon = _this.next('.bs-autocomplete-feedback');
            feedback_icon.hide();

            _this.autocomplete({
                minLength: 2,
                autoFocus: true,

                source: function (request, response) {
                    var BC_URI = "{{=URL('core', 'get_ingrs')}} + ?";
                    $.getJSON(BC_URI, {
                        q: extractLast(request.term),
                        format: "json"
                    }, response)
                },

                search: function () {
                    feedback_icon.show();
                },

                response: function () {
                    feedback_icon.hide();
                },

                focus: function () {
                    // prevent value inserted on focus
                    return false;
                },

                select: function (event, ui) {
                    var terms = split(this.value);
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push(ui.item.value);
                    // add placeholder to get the comma-and-space at the end
                    terms.push("");
                    this.value = terms.join(", ");
                    return false;
                }
            })
      .data('ui-autocomplete')._renderItem = function(ul, item) {
        return $('<li></li>')
          .data("item.autocomplete", item)
          .append('<a>' + item.value + '</a>')
          .appendTo(ul);
      };
            // end autocomplete
        });
    })();

</script>



