{{extend "layout.html"}}


<div class="container">
{{if  not 'itm_id' in request.vars:}}
    <h1>Новый предмет в меню</h1>
{{else:}}
    <h1>Изменить предмет</h1>
{{pass}}
    <div class="row">
        <div class="col-sm-5">

            <div class="card" id="suda">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="form-group">
                        <label class="font-weight-bold">Наименование</label>
                        <input type="text" id="item_name" value="{{=item.name}}" class="form-control">
                        <em class="text-muted">Например, равиоли с моцарелой</em>
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fas fa-balance-scale"></i> </span>
                        <input type="number" id="item_weight" value="{{=item.weight}}" class="form-control"
                               placeholder="Вес / Объем"><i class="fa fa-question-circle"
                                                            data-toggle="tooltip"
                                                            data-placement="right"
                                                            title="Если вес неизвестен - оставьте 0"
                                                            style="color:red">
                    </i>
                        <span class="input-group-addon"><select id="item_unit">
                            <option>Выберите...</option>
                        {{for opt in units:}}
                            <option value="{{=opt.id}}">{{=opt.f_name}}, {{=opt.f_description}}</option>
                        {{pass}}
                        </select></span>
                    </div>
                    <form class="price_group" id="price_group_id">
                        <div class="form-group input-group">

                            <span class="input-group-addon"><i class="fas fa-chart-pie"
                                                               style="width: 20px;height: 16px"></i> </span>
                            <select id="portion_size0" name="portion_size" class="form-control">
                            {{for portion in portions:}}
                                <option value="{{=portion.id}}">{{=portion.f_name}}</option>
                            {{pass}}
                                <input type="number" id="item_price0" name="portion_price" value="{{=item.price}}"
                                       class="form-control"
                                       placeholder="Цена">
                                <div id="add_portion" class="form-group"></div>

                            </select>

                        </div>

                    </form>
                    <input class="btn btn-success form-control" id="addrow_id0" type="button"
                           value=" Еще одна порция "
                           title="Добавить еще порцию" onclick="addRow()">
                    <div class="form-group">
                        <label class="font-weight-bold">Описание</label>
                        <textarea type="text" placeholder="{{=item.desc}}" id="item_desc"
                                  class="form-control"></textarea>
                        <em class="text-muted">Фирменная паста с креветками, кальмарами и мидиями в сливочном...</em>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Ингридиенты</label> <i class="fa fa-question-circle"
                                                                               data-toggle="tooltip"
                                                                               data-placement="right"
                                                                               title="Ингридиенты будут авто-дополняться, если ингридиента нет - добавится новый"
                                                                               style="color:red">
                    </i>
                        <input type="text" id="item_ingrs" class="form-control bs-autocomplete ui-autocomplete-input">
                        <em class="text-muted">Спагетти, кальмары, мидии, помидоры</em>
                    </div>
                </div>
                <div class="card-footer">
                    <input class="btn btn-primary" type="button" value="Добавить!" onclick="save_item()">
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    var counter = 1;

    function addRow() {
        var d = document.getElementById('price_group_id');
        $('#price_group_id').append('<div class="form-group input-group">' +
                '<span class="input-group-addon"><i class="fas fa-chart-pie" style="width: 20px;height: 16px"></i> </span>' +
                '<select name="portion_size" id="portion_size' + counter + '" class="form-control">' +
        {{for portion in portions:}}
                '<option value="{{=portion.id}}">{{=portion.f_name}}</option>' +{{pass}}
                '<div class="form-group input-group">' +
                '<input type="number" name="portion_price" id="portion_price' + counter + '" value="{{=item.price}}" class="form-control" placeholder="Цена">' +
                '<div id="add_portion' + counter + '" class="form-group"></div>');

        if (counter === 0) {
            var btn_row_id = document.getElementById('addrow_id0');
        }
        else {
            var counter_temp = counter - 1;
            var btn_row_id = document.getElementById('addrow_id' + counter_temp);
        }

        counter++;
    }


    $(document).ready(function () {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    });

    $(function () {
        function split(val) {
            return val.split(/,\s*/);
        }

        function extractLast(term) {
            return split(term).pop();
        }

        $.widget("ui.autocomplete", $.ui.autocomplete, {

            _renderMenu: function (ul, items) {
                var that = this;
                ul.attr("class", "nav nav-pills nav-stacked  bs-autocomplete-menu");
                $.each(items, function (index, item) {
                    that._renderItemData(ul, item);
                });
            },

            _resizeMenu: function () {
                var ul = this.menu.element;
                ul.outerWidth(Math.min(
                        // Firefox wraps long text (possibly a rounding bug)
                        // so we add 1px to avoid the wrapping (#7513)
                        ul.width("").outerWidth() + 1,
                        this.element.outerWidth()
                ));
            }

        });


        $('.bs-autocomplete').each(function () {
            var _this = $(this),
                    _data = _this.data(),
                    _hidden_field = $('#' + _data.hidden_field_id);

            _this.after('<div class="bs-autocomplete-feedback form-control-feedback"><div class="loader">Loading...</div></div>')
                    .parent('.form-group').addClass('has-feedback');

            var feedback_icon = _this.next('.bs-autocomplete-feedback');
            feedback_icon.hide();

            _this.autocomplete({
                minLength: 2,
                autoFocus: true,

                source: function (request, response) {
                    var BC_URI = "{{=URL('core', 'get_ingrs')}} + ?";
                    $.getJSON(BC_URI, {
                        q: extractLast(request.term),
                        format: "json"
                    }, response)
                },

                search: function () {
                    feedback_icon.show();
                },

                response: function () {
                    feedback_icon.hide();
                },

                focus: function () {
                    // prevent value inserted on focus
                    return false;
                },

                select: function (event, ui) {
                    var terms = split(this.value);
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push(ui.item.value);
                    // add placeholder to get the comma-and-space at the end
                    terms.push("");
                    this.value = terms.join(", ");
                    return false;
                }
            })
                    .data('ui-autocomplete')._renderItem = function (ul, item) {
                return $('<li></li>')
                        .data("item.autocomplete", item)
                        .append('<li>' + item.label + '</li>')
                        .appendTo(ul);
            };
            // end autocomplete
        });
    });

    function save_item() {
        var item = {};
        item.name = document.getElementById('item_name').value;
        item.weight = document.getElementById('item_weight').value;
        item.desc = document.getElementById('item_desc').value;
        item.unit = $("#item_unit").find("option:selected").val();
        item.change_factor = 'add';
        item.m_id = "{{=request.vars.m_id}}";
        item.ingrs = document.getElementById('item_ingrs').value;
        item.portions_size = document.getElementsByName('portion_size');
        item.portions_price = document.getElementsByName('portion_price');

        if (item.name !== '') {
            $(document.getElementById('item_name').parentElement).removeClass('has-danger')
        }
        else {
             $(document.getElementById('item_name').parentElement).addClass('has-danger')
        }

        if (item.ingrs !== '') {
            var arrayOfStrings = item.ingrs.split(',');
            if (arrayOfStrings.length === 0) {
                $(document.getElementById('item_ingrs').parentElement).addClass('has-danger');
            }
            else {
                $(document.getElementById('item_ingrs').parentElement).removeClass('has-danger');
            }
        }
        else {
            $(document.getElementById('item_ingrs').parentElement).addClass('has-danger');
        }

        item.portions = [];
        var counter = 0;
        item.portions_price.forEach(function (element) {
            if (element.value !== '' && item.portions_size[counter].value) {
                item.portions.push({
                    'portion_size': item.portions_size[counter].value,
                    'portion_price': element.value
                });
                $(element.parentElement).removeClass('has-danger');
                counter += 1;

            }
            else {
                $(element.parentElement).addClass('has-danger');
                throw new Error('Something happened');
            }
        });


        var DTO = {'item': item};
        var data = JSON.stringify(DTO);

        $.ajax({
            type: 'POST',
            url: '{{=URL('menu_works', 'save_item')}}',
            scriptCharset: "utf-8",
            contentType: "application/json",
            dataType: 'json',
            data: data,
            success: function (data) {
                $('#suda').removeClass('has-danger');
                window.location = '{{=URL('core', 'e_menu', vars=dict(m_id=request.vars.m_id,r_id=request.vars.r_id))}}'

            },
            error: function (data) {
                $('#suda').addClass('has-danger');
            }
        });

    }
</script>



