{{extend "layout.html"}}


<div class="container">
    <div class="row">
        <div class="card">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p class="font-weight-bold">
                        <h1>{{=menu.f_name}}</h1>
                        <br></div>
                </div>
            </div>
        {{if len(menu_items) > 0 :}}
            <div class="card-footer center">
                <input class="btn btn-success" type="button" onclick="window.location ='{{=URL('core', 'a_item',
                vars=dict(m_id=request.vars.m_id,r_id=request.vars.r_id))}}'" value="Добавить!">
            </div>
        {{pass}}
        </div>
    </div>

{{if len(menu_items) > 0 :}}

    <div class="row">
        <div class="col-sm-12">
            <div class="card-columns">

                <table class="table table-bordered table-hover" id="menu_list">
                    <tr>
                        <th class="text-center">
                            Блюдо
                        </th>
                        <th class="text-center">
                            Описание
                        </th>
                        <th class="text-center">
                            Порция
                        </th>
                        <th class="text-center">
                            Цена
                        </th>
                        <th class="text-center">
                            -
                        </th>
                        </th>
                        <th class="text-center">
                            -
                        </th>
                    </tr>
                {{for item in menu_items:}}
                    <tr>
                        <td>
                        {{=item.name}}
                        </td>
                        <td>
                        {{=item.desc}}
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                         <td>

                             <button class="btn btn-primary" value="Поправить" type="button" onclick="go_to_item(this)"><i class="fas fa-ruble-sign"></i></button>
                        </td>
                         <td>
                        <input value="{{=item.id}}" id="item_id" type="hidden">
                        <input class="btn btn-primary" value="Удалить" type="button" onclick="">
                        </td>
                    </tr>


<!--
                <div class="card">
                    <div class="card-header">
                        <label class="font-weight-bold">{{=item.name}}</label>
                        <span class="float-right"><i class="fas fa-ruble-sign"></i> {{=item.price}}</span>
                        <br>
                        <em class="text-muted">{{=item.desc}}</em>
                    </div>
                    <div class="card-block">
                        <div class="form-group">
                            <label class="font-weight-bold"></label>
                        </div>
                    {{for ingr in item.ingrs:}}
                        <div class="form-group">
                            <label class="font-weight-bold">{{=ingr.name}}</label>
                            <em class="text-muted">{{=ingr.unit}}</em>
                        </div>
                    {{pass}}
                    </div>
                    <div class="card-footer">
                        <input value="{{=item.id}}" id="item_id" type="hidden">
                        <input class="btn btn-primary" value="Поправить" type="button" onclick="go_to_item(this)">
                    </div>
                </div>
 -->
            {{pass}}
                                  </table>

            </div>
        </div>
    </div>
{{else:}}
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>Ничего нет :(</h2><br>
            <h2><input class="btn btn-success" type="button" onclick="window.location ='{{=URL('core', 'a_item',
            vars=dict(m_id=request.vars.m_id,r_id=request.vars.r_id))}}'" value="Давай добавим!"></h2>
        </div>
    </div>
{{pass}}
</div>

<script>
    function go_to_item(obj) {
        window.location = '{{=URL("core", "e_item")}}' + '?itm_id=' + obj.previousElementSibling.value
    }
</script>