{{extend "layout.html"}}

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

<div class="container">
    <div class="row">
        <div class="card">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p class="font-weight-bold">
                        <h1>{{=menu.f_name}}</h1>
                        <br>
                        <p>
                            <em class="text-muted">
                            {{for tag in tags:}}
                            {{=tag.f_name}};
                            {{pass}}
                            </em>
                        </p></div>
                </div>
            </div>
        {{if len(menu_items) > 0 :}}
            <div class="card-footer center">
                <input class="btn btn-success" type="button" onclick="window.location ='{{=URL('core', 'a_item',
                vars=dict(m_id=request.vars.m_id,r_id=request.vars.r_id))}}'" value="Добавить!">
            </div>
        {{pass}}
        </div>
    </div>

{{if len(menu_items) > 0 :}}

    <div class="row">
        <div class="col-sm-12">

            <table class="table table-bordered table-hover" id="menu_list">
                <thead>
                <tr>
                    <th class="text-center">
                        Блюдо
                    </th>
                    <th class="text-center">
                        Описание
                    </th>
                    <th class="text-center">
                        Цена
                    </th>
                    <th class="text-center">
                        -
                    </th>
                    <th class="text-center">
                        -
                    </th>
                </tr>
                </thead>
                <tbody>
                {{for item in menu_items:}}
                <tr>
                    <td>
                    {{=item.name}}
                    </td>
                    <td>
                    {{=item.desc}}<br>
                        <p><em class="text-muted">
                        {{for ingr in item.ingrs:}}
                        {{=ingr.name}};
                        {{pass}}
                        </em></p>
                    </td>
                    <td style="white-space: nowrap">
                    {{for item_p in item.portions:}}
                    {{=item_p["portion_size"]}} : <b> {{=item_p["portion_price"]}}</b> <i
                            class="fas fa-ruble-sign"></i><br>
                    {{pass}}
                    </td>
                    <td>
                        <button class="btn btn-primary" value="Поправить" title="Изменить элемент" type="button"
                                onclick="go_to_item({{=item.id}})">
                            <i class="fas fa-edit"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-danger" value="Удалить" title="Удалить элемент" type="button"
                                onclick="delete_row('{{=item.id}}', this)"><i class="fas fa-times"></i></button>
                    </td>
                </tr>
                {{pass}}
                </tbody>
            </table>

        </div>
    </div>
{{else:}}
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>Ничего нет :(</h2><br>
            <h2><input class="btn btn-success" type="button" onclick="window.location ='{{=URL('core', 'a_item',
            vars=dict(m_id=request.vars.m_id,r_id=request.vars.r_id))}}'" value="Давай добавим!"></h2>
        </div>
    </div>
{{pass}}
    <input type="hidden" id="sure" value="0">
</div>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script>

    $(document).ready(function () {
        $('#menu_list').DataTable({
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                );

                                column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                            });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });
    });


    function go_to_item(obj) {
        window.location = '{{=URL("core", "a_item")}}' + '?itm_id=' + obj
    }

    function delete_row(id, obj) {
        id = parseInt(id);
        if ($('#sure').value === 0) {
            obj += ' <button class="btn btn-danger" value="Шур?" title="Изменить элемент" type="button"         "> ';
            return;
        }
        if (confirm('Вы действительно хотите удалить блюдо?')) {
            var temp = {"data_id": id};
            var datas = JSON.stringify(temp);
            $.ajax({
                type: 'POST',
                url: '/menuet/menu_works/delete_menu_item',
                scriptCharset: "utf-8",
                contentType: "application/json; charset=utf-8",
                data: datas,
                dataType: 'text',
                success: function (response) {
                    location.reload();
                },
                error: function () {
                    location.reload();
                }
            });
        } else {
            // Do nothing!
        }
    }
</script>