{{extend "layout.html"}}


<div class="container">
    <div class="row">
        <div class="card">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p class="font-weight-bold">
                        <h1>{{=menu.f_name}}</h1>
                        <br></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-columns">
                <div class="card">
                {{for item in menu_items:}}
                    <div class="card-header">
                    {{=item.name}}
                    </div>
                    <div class="card-block">
                    {{for ingr in item.ingrs:}}
                        <div class="form-group">
                        {{ingr.name}}
                        </div>
                    {{pass}}
                    </div>
                    <div class="card-footer">
                        <input value="{{=item.id}}" type="hidden">
                        <input class="btn btn-primary" value="Поправить" onclick="go_to_item(this)">
                    </div>
                </div>
            {{pass}}
            </div>
        </div>
    </div>
</div>

<script>
    function go_to_item(obj) {
        window.location = '{{=URL("core", "e_item", vars=dict(m_id=request.vars.m_id))}}' + '&itm_id=' + obj
    }
</script>