{{extend "layout.html"}}


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-utensils"></i> {{=rest.name}}
                </div>
                <div class="card-block">
                    <form name="new_rest" id="new_rest">
                        <div class="form-group">
                            <label class="font-weight-bold">Имя ресторана</label>
                            <input class="form-control" required name="rest_name" value="{{=rest.name}}" id="rest_name">
                            <p class="text-muted"><em>Например: Чайхона №1</em></p>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="hidden" id="network_id" value="{{=rest.f_network_id}}">

                            {{if rest.is_network:}}
                                <input type="checkbox" id="is_network" checked> Сетевой ?
                                <div id="net_div"></div>
                            {{else:}}
                                <input type="checkbox" id="is_network"> Сетевой ?
                                <div id="net_div"></div>

                            {{pass}}
                                <div class="form-group">
                                    <div id="is_network_div" hidden>
                                        <label class="font-weight-bold">Имя сети</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fas fa-sitemap"></i></span>

                                            <input class="form-control" placeholder="Выберите сеть" required
                                                   name="search_net"
                                                   id="search_net"
                                                   value="{{=rest.f_network_name}}">
                                        </div>
                                        <p class="text-muted"><em>Например: Грабли </em></p>
                                    </div>
                                </div>
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold">Город</label>
                            <div class="input-group">

                                <span class="input-group-addon">
                                    <i class="fas fa-building"></i>
                                                                    </span>

                                <input class="form-control" required id="rest_town" value="{{=rest.town}}"
                                       type="text">
                            </div>
                                                            <p class="text-muted"><em>Например: Волгоград</em></p>

                            <label class="font-weight-bold">Адрес ресторана</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i
                                        class="fas fa-location-arrow"></i></span>
                                <input class="form-control" required name="rest_addr" id="rest_addr"
                                       value="{{=rest.addr}}"></div>
                            <p class="text-muted"><em>Например: Улица Маши-парываевой, д. 6 </em></p>
                        </div>


                        <input type="button" class="btn btn-primary" onclick="submitForm()" value="Сохранить!">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-utensils"></i> Актуальные меню
                </div>
                <!-- /.panel-heading -->
                <div class="card-block">
                    <div class="list-group">
                    {{i=0}}
                    {{for menu in menu_disp:}}
                    {{if i >= 10:
                    break
                    }}
                        <a href="{{=URL('core', 'e_menu', vars=dict(r_id=rest.id,m_id=menu.id))}}"
                           class="list-group-item-action">
                            <i class="fas fa-utensils"></i> {{=menu.name}}
                            <span class="float-right text-muted small"><em>{{=menu.created_on}}</em>
                                    </span>
                        </a>
                    {{i+=1}}
                    {{pass}}
                    </div>
                    <!-- /.list-group -->
                {{if menu_disp.__len__() != 0:}}
                    <a href="{{=URL('core', 'menus', vars=dict(r_id=rest.id,m_id=menu.id))}}"
                       class="btn btn-default btn-block">Остальные...</a>
                {{else:}}
                    <input class="btn btn-block" type="button" value="Ничего нет :(">
                {{pass}}
                </div>
                <!-- /.panel-body -->
            </div>

        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-utensil-spoon"></i> Новое меню
                </div>
                <div class="card-block">
                    <div class="form-group">
                        <input class="form-control" required name="rest_id" value="{{=rest.id}}" id="rest_id"
                               type="hidden">
                        <input class="form-control" required name="rest_name" value="{{=rest.name}}" id="rest_name"
                               type="hidden">

                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Тип меню</label>
                        <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                           title="Напитки/вино/Чай/кофе/мясо/рыба и т.д. - все в основное меню" style="color:red">
                        </i>
                        <select id="menu_type" class="form-control">
                        {{for option_type in menu_types:}}
                            <option value="{{=option_type.id}}">{{=option_type.f_name}}</option>
                        {{pass}}
                        </select>
                    </div>
                    <div class="form-group">

                        <label class="font-weight-bold">Комментарий</label>

                        <input class="form-control" name="comment" placeholder="Необязательно" id="comment"
                               type="text"><br>
                        <input type="button" id="add_menu" class="btn btn-primary" onclick="add_menu()"
                               value="Создать!">
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@17.12.0/dist/css/suggestions.min.css" type="text/css"
      rel="stylesheet"/>
<!--[if lt IE 10]>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
<![endif]-->
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/suggestions-jquery@17.12.0/dist/js/jquery.suggestions.min.js"></script>

<script type="text/javascript" src="{{=URL('static', 'js/shadow_sugg.min.js')}}"></script>
<script>
    $(document).ready(function () {
    {{if rest.is_network:}}
        $('#is_network_div').removeAttr('hidden');
    {{pass}}

        $('#is_network').change(function () {
            if (this.checked) {
                $('#is_network_div').removeAttr('hidden');
                $('#is_network_div').fadeIn('slow');
            }
            else
                $('#is_network_div').fadeOut('slow');

        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    });


    function submitForm() {
        var rest = {};
        rest.name = document.getElementById('rest_name').value;
        rest.addr = document.getElementById('rest_addr').value;
        rest.is_network = document.getElementById('is_network').checked;
        rest.r_id = "{{=request.vars.r_id}}";
        rest.town = document.getElementById('rest_town').value;

        var DTO = {'rest': rest};
        var data = JSON.stringify(DTO);

        $.ajax({
            type: 'POST',
            url: '{{=URL('default', 'save_rest')}}',
            scriptCharset: "utf-8",
            contentType: "application/json",
            dataType: 'json',
            data: data,
            success: function (data) {
                window.location.reload()

            },
            error: function (data) {
                window.location.reload()

            }
        });
    }

    function fill_network(net) {
        var rest = {};
        rest.id = "{{=request.vars.r_id}}}";
        var network = {};
        network.id = net.id;

        var DTO = {'network': net, 'rest': rest};
        var data = JSON.stringify(DTO);    //Using the toJSON plugin by Mark Gibson

        $.ajax({
            type: 'POST',
            url: '{{=URL('menu_works', 'fill_net')}}',
            scriptCharset: "utf-8",
            contentType: "application/json; charset=utf-8",
            data: data,
            dataType: 'json',
            success: function (data) {
                location.reload();
            },
            error: function (data) {
                $(document.body).append('<div class="w2p_flash alert alert-dismissable" style="display: block;">Меню не найдено, создайте меню<span id="closeflash"> × </span></div>')
            }
        });

    }

    $("#search_net").suggestions({
        token: "bf69a05b6ce842dcd0cbc159648d19a8c49fdf33",
        type: "NETWORK",
        count: 5,
        onSelect: function (suggestion) {
            $('#network_id').val(suggestion.id);
            fill_network(suggestion)
        }
    });

    function add_menu() {
        var menu = {};
        var rest = {};
        rest.name = document.getElementById('rest_name').value;
        rest.id = document.getElementById('rest_id').value;
        menu.type = $("#menu_type").find("option:selected").val();
        menu.comment = document.getElementById('comment').value;
        rest.is_network = document.getElementById('is_network').checked;
        if (rest.is_network) {
            rest.network_id = document.getElementById('network_id').value;
        }
        var DTO = {'menu': menu, 'rest': rest};
        var data = JSON.stringify(DTO);    //Using the toJSON plugin by Mark Gibson

        $.ajax({
            type: 'POST',
            url: '{{=URL('default', 'save_menu')}}',
            scriptCharset: "utf-8",
            contentType: "application/json; charset=utf-8",
            data: data,
            dataType: 'json',
            success: function (data) {
                location.reload();
            },
            error: function (data) {
                location.reload();
            }
        });
    }

    function delete_menu(menu) {
        var rest = {};
        rest.id = document.getElementById('rest_id').value;
        var menu_t = {"menu": {"id": menu.id}, "rest": {"id": rest.id}};
        var data = JSON.stringify(menu_t);

        $.ajax({
            type: 'POST',
            url: '{{=URL('default', 'delete_menu')}}',
            scriptCharset: "utf-8",
            contentType: "application/json; charset=utf-8",
            data: data,
            dataType: 'json',
            success: function (data) {
                alert('Saved!');
                location.reload();
            },
            error: function () {
                alert('oh no, its failed again!');
                location.reload();
            }
        });
    }


</script>