{{extend "layout.html"}}

<div class="container">
    <div class="row">
    {{for menu in menu_disp:}}
    {{menu = Storage(menu)}}
        <div class="col-sm-4">

            <div class="card text-center
                        {{if not menu.active:}}
                        text-muted
{{else:}}
{{pass}}
">
                <div class="card-block">
                    <h5 class="card-title">
                    {{=menu.name}}
                    {{if not menu.active:}}
                        <span class="badge badge-default">Неактивно</span>
                    {{else:}}
                        <span class="badge badge-info">Текущее</span>
{{pass}}
                    </h5>
                    <p class="card-text">
                        <em>{{=menu.rest_name}}</em><br/>
                        <em>{{=menu.rest_addr}}</em><br/>

                        <em class="text-muted">Создан: {{=menu.created_on}}</em><br/>
                    </p>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Править"
                           onclick="window.location='{{=URL('core', 'e_menu', vars=dict(m_id=menu.id,r_id=menu.r_id))}}'"
                     {{if not menu.active:}}class="btn btn-secondary" disabled
                            {{else:}}
                           class="btn btn-primary"{{pass}} >
                </div>
            </div>


        </div>
    {{pass}}

    </div>
            {{include "pagination.html"}}

</div>
