{{extend "layout.html"}}

<div class="container">
    <div class="row">
    {{for menu in menu_disp:}}
    {{menu = Storage(menu)}}
        <div class="col-sm-4" id="{{=menu.id}}">

            <div class="card text-center
                        {{if not menu.active:}}
                        text-muted
{{else:}}
{{pass}}
">
                <div class="card-block">
                    <h5 class="card-title">
                    {{=menu.name}}
                    {{if not menu.active:}}
                        <span class="badge badge-default">Неактивно</span>
                    {{else:}}
                        <span class="badge badge-info">Текущее</span>
                    {{pass}}
                    </h5>
                    <p class="card-text">
                        <em>{{=menu.rest_name}}</em><br/>
                        <em>{{=menu.rest_addr}}</em><br/>
                        <em>Позиций в меню: <b>{{=menu.item_count}}</b></em><br/>

                        <em class="text-muted">Создан: {{=menu.created_on}}</em><br/>
                    </p>
                </div>
                <div class="card-footer" id="{{=menu.id}}">
                    <input type="submit" value="Править"
                           onclick="window.location='{{=URL('core', 'e_menu', vars=dict(m_id=menu.id,r_id=menu.r_id))}}'"
                           {{if not menu.active:}}class="btn btn-secondary" disabled
                    {{else:}}
                           class="btn btn-primary"{{pass}} >
                    <input type="submit" class="btn btn-inverse" value="On/Off" onclick="dis_enable_menu(this)">
                </div>
            </div>


        </div>
    {{pass}}

    </div>

</div>
<script>
    function dis_enable_menu(element) {

        var state ='{{=menu.active}}';
        var menu = {'id': element.parentElement.id, 'state':state};

        var DTO = {'menu': menu};
        var data = JSON.stringify(DTO);

        $.ajax({
            type: 'POST',
            url: '{{=URL('menu_works', 'dis_enab_menu')}}',
            scriptCharset: "utf-8",
            contentType: "application/json",
            dataType: 'json',
            data: data,
            success: function (data) {
                // window.location.reload()
            },
            error: function (data) {
                window.location.reload()
            }
        });
    }
</script>
