{{extend 'layout.html'}}
<style>
    .left {
        display: block;
    }

    .grayout {
        opacity: 0.6; /* Real browsers */
        filter: alpha(opacity=60); /* MSIE */
    }
</style>

<h1>Restaraunts</h1>
<h2>{{=A("Add menu via json", _href=URL('default','jsn_menu'))}}</h2>
<h2>{{=A("shkololo rest", _href=URL('core','rest'))}}</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <br/>
            <h2>Current rest:</h2>
            <ul class="list-group">
                <div class="controls">

                    <form role="form" autocomplete="on">
                    {{for rest in rests:}}
                        <ul>
                            <div class="entry input-group col-sm-12">
                            {{ a = ''
                            if rest.f_active is False: a = ' grayout'
                            }}
                                <li class="form-control {{=a}}" id="{{=rest.id}} " style="font-weight: 700"
                                    onclick="window.location='{{=URL('default', 'rest_menu' + '?rest_name=' + rest.f_name)}}'">{{=rest.f_name}}
                                </li>
                                <span class="input-group-btn">
                            <button class="btn btn-danger btn-add" type="button">
                                <span class="fa fa-times-circle fa-2x" onclick="delete_rest(this)"
                                      id="{{=rest.id}}"></span>
                            </button>
                        </span>
                            </div>
                        </ul>

                    {{pass}}

                    </form>
                </div>
            </ul>
        </div>

        <div class="col-sm-8">
            <table class="table table-bordered table-hover" id="tab_ingredients">
                <thead>
                <tr>
                    <th></th>
                    <th class="text-center">
                        Rest Name
                    </th>
                    <th class="text-center">
                        RES
                    </th>
                    <th class="text-center">
                        RES
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr id="addr0">
                    <td>
                        <button type="submit" onclick="add_rest()">Add Rest</button>
                    </td>
                    <td>
                        <input type="text" id="rest_name" placeholder="{{=T('Rest Name')}}"
                               class="form-control rest"
                               required>
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                {{pass}}
                </tr>
                <tr id="addr1"></tr>
                </tbody>
            </table>
            {{for gen in items:}}
            <div class="col-sm-4">
                <ul>
                    <li>{{=gen}}
                    </li>
                    {{pass}}
                </ul>
            </div>
        </div>
    </div>
</div>

<script>


    function add_rest() {
        var rest = {};
        rest.name = document.getElementById('rest_name').value;
        if (rest.name.length === 0) {
            document.getElementById('rest_name').className += ' alert-danger';
            return null;
        }

        var DTO = {'rest': rest};
        var data = JSON.stringify(DTO);    //Using the toJSON plugin by Mark Gibson

        $.ajax({
            type: 'POST',
            url: '{{=URL('default', 'save_rest')}}',
            scriptCharset: "utf-8",
            contentType: "application/json; charset=utf-8",
            data: data,
            dataType: 'json',
            success: function (data) {
                alert('Saved!');
                location.reload();
            },
            error: function (data) {
                alert('oh no, its failed again!');
                location.reload();
            }
        });
    }

    function delete_rest(rest) {
        var rest_t = {"rest": {'id': rest.id}};
        var data = JSON.stringify(rest_t);

        $.ajax({
            type: 'POST',
            url: '{{=URL('default', 'delete_rest')}}',
            scriptCharset: "utf-8",
            contentType: "application/json; charset=utf-8",
            data: data,
            dataType: 'json',
            success: function (data) {
                alert('Saved!');
                location.reload();
            },
            error: function () {
                alert('oh no, its failed again!');
                location.reload();
            }
        });
    }
</script>